<div class="container bootstrap snippets bootdey.com vh-100">
<div class="row h-100">
    <div class="col-md-12 h-100">

        <div class="box h-100">
            <div class="chat-room h-100">

            <aside class="rooms-side">
                <div class="user-head">
                    <i class="fa fa-comments-o"></i>
                    <h3>Bekos App</h3>
                </div>
                
                <ul class="chat-list">
                    <li class="">
                        <a class="lobby" href="#lobby.html">
                            <h4>
                                <i class="fa fa-list"></i>
                                Languages rooms
                            </h4>
                        </a>
                    </li>
                    
                    <% current_user.languages.each do |language| %>
                      <li class="<%= class_names active: params[:language_id] == language.code %>"> 
                        <a href="<%= language_messages_path(language.code) %>">
                          <i class="fa fa-rocket" ></i>
                          <span ><%= language.name %></span>
                          <i class="fa fa-times pull-right"></i>
                        </a>
                      </li>
                    <% end %>
                </ul>
                
                <ul class="chat-list chat-user">
                  <% @users.each do |user| %>
                    <li>
                      <a href="#">
                        <i class="fa fa-circle text-muted"></i>
                        <span><%= user.full_name %></span>
                        <i class="fa fa-times pull-right"></i>
                      </a>
                    </li>
                  <% end %>
                </ul>
                
                <footer>
                    <a class="chat-avatar" href="#javascript:;">
                        <img alt="" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </a>
                    <div class="user-status">
                        <i class="fa fa-circle text-success"></i>
                        Available
                    </div>
                    <a class="chat-dropdown pull-right" href="#javascript:;">
                        <i class="fa fa-chevron-down"></i>
                    </a>
                </footer>
            </aside>



            <aside class="messages-side d-flex flex-column w-100 vh-100">
                <div class="chat-room-head p-0">
                    <h3 class="p-3">Spanish</h3>
                    <a href="/video_call.html"> <img src="/icons.jpeg" alt="" width="90" height="57" class="pull-right position"/></a>
                </div>
                
                <div class="messages-list flex-grow-1 overflow-scroll">
                  <%= render 'messages/messages' %>
                </div>                
                
                <footer>
                  <form data-controller="chat-input" class="d-flex" action="/messages" data-action="chat-input#post" data-thread-id="<%= @thread.id %>">
                    <div class="flex-grow-1 me-1">
                      <input type="text" class="form-control" data-chat-input-target="input">
                    </div>
                    <!-- <div class="btn-group">
                      <button type="button" class="btn btn-white"><i class="fa fa-meh-o"></i></button>
                      <button type="button" class="btn btn-white"><i class="fa fa-paperclip"></i></button>
                    </div> -->
                    <button type="submit" class="btn btn-danger">Send</button>
                  </form>
                </footer>
            </aside>




            <aside class="people-side">
                <div class="user-head">
                  <a href="/logout"        class="chat-tools btn-outline-secondary"><i class="fa fa-sign-out"></i> </a>
                  <a href="/user/settings" class="chat-tools btn-outline-success">  <i class="fa fa-cog"></i> </a>
                </div>
                <%= render 'users/available' %>
            </aside>


            </div>
        </div>

    </div>
</div>
</div>
